@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: black;
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/** @todo there is probably a more tailwind way to do this */
a {
  color: rgb(245 158 11)
}


/* make a list with discs that align slightly off top */
.list-disc-offsettop li {
  position: relative;
}
.list-disc-offsettop li:before {
  border-radius: 50%;
  display: block;
  background: #fff;
  content: '';
  height: 5px;
  left: -10px;
  position: absolute;
  top: 16px;
  width: 5px;
}


